In [7]:
import pandas as pd
mapp=pd.read_csv('KaggleV2-May-2016.csv')
mapp

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [8]:
mapp.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [11]:
m_dups = mapp[mapp.duplicated]
print (len(m_dups))
mapp2 = mapp.drop(columns=['AppointmentID'])
print("Duplicates across fields:", mapp2.duplicated().sum())
mapp_unique = mapp2.drop_duplicates

0
Duplicates across fields: 618

In [23]:
mapp['Gender']= (mapp['Gender'].str.upper().replace({"F": "Female","M": "Male"}))
mapp

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,FEMALE,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,MALE,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,FEMALE,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,FEMALE,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,FEMALE,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,FEMALE,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,FEMALE,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,FEMALE,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,FEMALE,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,FEMALE,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [24]:
mapp['ScheduledDay'] = pd.to_datetime(mapp['ScheduledDay'])
mapp['AppointmentDay'] = pd.to_datetime(mapp['AppointmentDay'])
mapp

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,FEMALE,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,MALE,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,FEMALE,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,FEMALE,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,FEMALE,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,FEMALE,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,FEMALE,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,FEMALE,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,FEMALE,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,FEMALE,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [25]:
mapp.dtypes

PatientId                     float64
AppointmentID                   int64
Gender                         object
ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
Age                             int64
Neighbourhood                  object
Scholarship                     int64
Hipertension                    int64
Diabetes                        int64
Alcoholism                      int64
Handcap                         int64
SMS_received                    int64
No-show                        object
dtype: object

In [29]:
mapp['ScheduledDay'] = pd.to_datetime(mapp['ScheduledDay']).dt.strftime('%d-%m-%Y')
mapp['AppointmentDay'] = pd.to_datetime(mapp['AppointmentDay']).dt.strftime('%d-%m-%Y')
mapp

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDayN
0,2.987250e+13,5642903,FEMALE,29-04-2016,29-04-2016,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016-04-29 18:38:08+00:00
1,5.589978e+14,5642503,MALE,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016-04-29 16:08:27+00:00
2,4.262962e+12,5642549,FEMALE,29-04-2016,29-04-2016,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016-04-29 16:19:04+00:00
3,8.679512e+11,5642828,FEMALE,29-04-2016,29-04-2016,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,2016-04-29 17:29:31+00:00
4,8.841186e+12,5642494,FEMALE,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016-04-29 16:07:23+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,FEMALE,03-05-2016,07-06-2016,56,MARIA ORTIZ,0,0,0,0,0,1,No,2016-05-03 09:15:35+00:00
110523,3.596266e+12,5650093,FEMALE,03-05-2016,07-06-2016,51,MARIA ORTIZ,0,0,0,0,0,1,No,2016-05-03 07:27:33+00:00
110524,1.557663e+13,5630692,FEMALE,27-04-2016,07-06-2016,21,MARIA ORTIZ,0,0,0,0,0,1,No,2016-04-27 16:03:52+00:00
110525,9.213493e+13,5630323,FEMALE,27-04-2016,07-06-2016,38,MARIA ORTIZ,0,0,0,0,0,1,No,2016-04-27 15:09:23+00:00
110526,3.775115e+14,5629448,FEMALE,27-04-2016,07-06-2016,54,MARIA ORTIZ,0,0,0,0,0,1,No,2016-04-27 13:30:56+00:00

In [31]:
mapp=mapp.rename(columns={'PatientId':'Patient_id','AppointmentID':'Appointment_id','ScheduledDay':'Scheduled_date',
                         'AppointmentDay':'Appointment_date','Hipertension':'Hypertension','Handcap':'Handicap','SMS_received':'sms_recevied'})
mapp

,Patient_id,Appointment_id,Gender,Scheduled_date,Appointment_date,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,sms_recevied,No-show,ScheduledDayN
0,2.987250e+13,5642903,FEMALE,29-04-2016,29-04-2016,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016-04-29 18:38:08+00:00
1,5.589978e+14,5642503,MALE,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016-04-29 16:08:27+00:00
2,4.262962e+12,5642549,FEMALE,29-04-2016,29-04-2016,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016-04-29 16:19:04+00:00
3,8.679512e+11,5642828,FEMALE,29-04-2016,29-04-2016,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,2016-04-29 17:29:31+00:00
4,8.841186e+12,5642494,FEMALE,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2016-04-29 16:07:23+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,FEMALE,03-05-2016,07-06-2016,56,MARIA ORTIZ,0,0,0,0,0,1,No,2016-05-03 09:15:35+00:00
110523,3.596266e+12,5650093,FEMALE,03-05-2016,07-06-2016,51,MARIA ORTIZ,0,0,0,0,0,1,No,2016-05-03 07:27:33+00:00
110524,1.557663e+13,5630692,FEMALE,27-04-2016,07-06-2016,21,MARIA ORTIZ,0,0,0,0,0,1,No,2016-04-27 16:03:52+00:00
110525,9.213493e+13,5630323,FEMALE,27-04-2016,07-06-2016,38,MARIA ORTIZ,0,0,0,0,0,1,No,2016-04-27 15:09:23+00:00
110526,3.775115e+14,5629448,FEMALE,27-04-2016,07-06-2016,54,MARIA ORTIZ,0,0,0,0,0,1,No,2016-04-27 13:30:56+00:00

In [32]:
mapp.pop('ScheduledDayN')

0        2016-04-29 18:38:08+00:00
1        2016-04-29 16:08:27+00:00
2        2016-04-29 16:19:04+00:00
3        2016-04-29 17:29:31+00:00
4        2016-04-29 16:07:23+00:00
                    ...
110522   2016-05-03 09:15:35+00:00
110523   2016-05-03 07:27:33+00:00
110524   2016-04-27 16:03:52+00:00
110525   2016-04-27 15:09:23+00:00
110526   2016-04-27 13:30:56+00:00
Name: ScheduledDayN, Length: 110527, dtype: datetime64[ns, UTC]

In [33]:
mapp

,Patient_id,Appointment_id,Gender,Scheduled_date,Appointment_date,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,sms_recevied,No-show
0,2.987250e+13,5642903,FEMALE,29-04-2016,29-04-2016,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,MALE,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,FEMALE,29-04-2016,29-04-2016,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,FEMALE,29-04-2016,29-04-2016,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,FEMALE,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,FEMALE,03-05-2016,07-06-2016,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,FEMALE,03-05-2016,07-06-2016,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,FEMALE,27-04-2016,07-06-2016,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,FEMALE,27-04-2016,07-06-2016,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,FEMALE,27-04-2016,07-06-2016,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [34]:
mapp.dtypes

Patient_id          float64
Appointment_id        int64
Gender               object
Scheduled_date       object
Appointment_date     object
Age                   int64
Neighbourhood        object
Scholarship           int64
Hypertension          int64
Diabetes              int64
Alcoholism            int64
Handicap              int64
sms_recevied          int64
No-show              object
dtype: object

In [36]:
mapp['Scheduled_date'] = pd.to_datetime(mapp['Scheduled_date'])
mapp['Appointment_date'] = pd.to_datetime(mapp['Appointment_date'])


print("\nAfter datetime conversion:")
print(mapp[['Scheduled_date', 'Appointment_date']].dtypes)

After datetime conversion:
Scheduled_date      datetime64[ns]
Appointment_date    datetime64[ns]
dtype: object

C:\Users\engko\AppData\Local\Temp\ipykernel_20860\1457957335.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  mapp['Scheduled_date'] = pd.to_datetime(mapp['Scheduled_date'])
C:\Users\engko\AppData\Local\Temp\ipykernel_20860\1457957335.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  mapp['Appointment_date'] = pd.to_datetime(mapp['Appointment_date'])

In [37]:
mapp.dtypes

Patient_id                 float64
Appointment_id               int64
Gender                      object
Scheduled_date      datetime64[ns]
Appointment_date    datetime64[ns]
Age                          int64
Neighbourhood               object
Scholarship                  int64
Hypertension                 int64
Diabetes                     int64
Alcoholism                   int64
Handicap                     int64
sms_recevied                 int64
No-show                     object
dtype: object

In [38]:
mapp

,Patient_id,Appointment_id,Gender,Scheduled_date,Appointment_date,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,sms_recevied,No-show
0,2.987250e+13,5642903,FEMALE,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,MALE,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,FEMALE,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,FEMALE,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,FEMALE,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,FEMALE,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,FEMALE,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,FEMALE,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,FEMALE,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,FEMALE,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No